<div class="d-flex align-items-center justify-content-between">
  <%# Left %>
  <div class="w-50 welcome-container align-items-center">
    <p id="registration" class="h2 w-75 text-center">Únete a la plataforma más grande de arte.</p>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }, html: { class: "w-100" }) do |f| %>
    <%= f.error_notification %>

    <div class="my-5">
      <%= f.input :username,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "username" },
                  label: false,
                  placeholder: "Nombre",
                  class: "w-100" %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  label: false,
                  placeholder: "Email",
                  class: "w-100" %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} carácteres mínimo" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" },
                  label: false,
                  placeholder: "Nueva contraseña",
                  class: "w-100" %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" },
                  label: false,
                  placeholder: "Confirma tu contraseña",
                  class: "w-100" %>
    </div>

    <div class="mt-3 w-100 text-center">
      <%= f.button :submit, "Registrate", class: 'h3 button' %>
    </div>
  <% end %>

    <%= render "devise/shared/links" %>
  </div>

  <%# Right %>
  <div class="d-flex align-items-center w-50" style="background-image: url(https://res.cloudinary.com/dygidrhdn/image/upload/v1688520890/europeana-MvR30qxn-MM-unsplash_1_2_hrwjro.jpg); background-size: cover; height: 150vh;">
  </div>
</div>
