<%= turbo_frame_tag dom_id(appreciation) do %>

  <%= link_to 'Edit', [:edit, appreciation.art,appreciation] %>

  <small>
    <%= appreciation.user.email %>
    <em class="text-muted"><%= time_ago_in_words(appreciation.created_at) %> ago</em>
  </small>

  <p><%= appreciation.content %></p>

<% end %>
  <%= link_to 'Destroy', art_appreciation_path(@art, appreciation),  data: {turbo_method: :delete}, class: 'btn btn-outline-secondary btn-sm' %>
