<%= turbo_frame_tag dom_id(appreciation) do %>

  <%# Comentario del Usuario %>
  <div class="bg-white w-100">
    <div class="border border-1 p-5">
      <div class="d-flex gap-3 mb-4">
        <%# Avatar del Usuario %>
        <div class="avatar" style="background-image: url(<%= cl_image_path(appreciation.user.photo.key)%>); background-size: cover; background-position: center; width: 4rem; height: 4rem; border-radius: 100%;"></div>

        <%# Email del Usuario %>
        <h5 class="mt-3"><%= appreciation.user.email %></h5>
      </div>
      <p><%= appreciation.content %></p>

        <%# Likes and Comments %>
        <%= render "shared/likes_comments" %>

        <%# Borrar %>
        <div class="d-flex gap-3">
          <%= link_to 'Destroy', art_appreciation_path(@art, appreciation),  data: {turbo_method: :delete}, class: 'btn btn-outline-dark btn-sm' %>
          <%= link_to 'Edit', [:edit, appreciation.art,appreciation], class: 'btn btn-dark btn-sm' %>
        </div>
      </div>
    </div>
  </div>


  <%# <small> %>
    <%# <%= appreciation.user.email %>
    <%# <em class="text-muted"><%= time_ago_in_words(appreciation.created_at) ago</em> %>
  <%# </small> %>

  <%# <p><%= appreciation.content </p> %>

<% end %>
