
<div class="w-100 d-flex flex-start gap-4 align-items-top mb-5">
  <%# Avatar del Usuario %>
  <div class="avatar" style="background-image: url(<%= cl_image_path(current_user.photo.key)%>); background-size: cover; background-position: center; width: 4rem; height: 4rem; border-radius: 100%;"></div>

  <div class="mt-1 w-100">
    <%= simple_form_for [@art, @appreciation] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <%= f.input :content, placeholder: "Edita tu comentario...", label: false, class: "w-100", input_html: { style: 'background-color: white; height: 10rem;' } %>
        <%= f.submit "Confirmar", data: {turbo_action: "advance", turbo_frame: "_top"} , class: "btn btn-dark btn-md" %>
    <% end %>
  </div>
</div>
