    <%# Likes and Comments %>
    <div class="justify-content-left mt-2">
      <div id='appreciations-and-such' class="d-flex gap-4 mb-2">
        <%# Likes %>
        <div class="d-flex spacing-4 mb-2 align-items-center gap-2">
          <!-- Number of likes -->
          <% like = current_user&.likes&.find_by(art: @art) %>
          <% if current_user.nil? || like.nil? %>
            <%= form_with url: likes_path, method: :post, remote: true, id: 'like-form' do |form| %>
              <%= hidden_field_tag 'like[art_id]', @art.id %>
              <button type="submit" class="border-0 bg-transparent" id="heart-icon">
                <i class="fas fa-xl fa-heart"></i>
              </button>
            <% end %>
          <% else %>
            <%= form_with url: like_path(like), method: :delete, id: 'unlike-form' do |form| %>
              <button type="submit" class="border-0 bg-transparent" id="liked-button">
                <i class="fas fa-xl fa-heart" id="heart-icon" style="color: #F92665 !important;"></i>
              </button>
            <% end %>
          <% end %>


          <div style="display: none;">
            <% like = current_user&.likes&.find_by(art: @art) %>
            <% if current_user.nil? || like.nil? %>
              <%= form_with url: like_appreciation_path, method: :post, remote: true, id: 'like-form' do |form| %>
                <%= hidden_field_tag 'like[art_id]', @art.id %>
                <%= submit_tag 'Like', class: 'btn btn-dark', id: 'like-button' %>
              <% end %>
            <% else %>
              <%= form_with url: like_appreciation_path(like), method: :delete, id: 'unlike-form' do |form| %>
                <%= submit_tag 'Liked', class: 'btn btn-red', id: 'liked-button' %>
              <% end %>
            <% end %>
          </div>


          <p class="mt-3 text-secondary"><%= @art.likes.count %></p>

          <script>
            $(document).ready(function() {
              $('#heart-icon').on('click', function() {
                ($('#like-button')) {
                  $('#like-form').submit();
                } ($('#liked-button')) {
                  $('#unlike-form').submit();
                }
              });
            });
          </script>
        </div>
      </div>
    </div>
