<%# Likes and Comments %>
<div class="mt-2">
  <div id='appreciations-and-such' class="w-100 justify-content-center d-flex gap-4 mb-2">
    <%# Likes %>
    <div class="d-flex spacing-4 mb-2 align-items-center gap-2">
      <!-- Number of likes -->
      <% like = current_user&.likes&.find_by(art: @art) %>
      <% if current_user.nil? || like.nil? %>
        <%= form_with url: likes_path, method: :post, remote: true, id: 'like-form' do |form| %>
          <%= hidden_field_tag 'like[art_id]', @art.id %>
          <button type="submit" class="border-0 bg-transparent" id="heart-icon">
            <i class="fas fa-xl fa-heart"></i>
          </button>
        <% end %>
      <% else %>
        <%= form_with url: like_path(like), method: :delete, id: 'unlike-form' do |form| %>
          <button type="submit" class="border-0 bg-transparent" id="liked-button">
            <i class="fas fa-xl fa-heart" id="heart-icon" style="color: #F92665 !important;"></i>
          </button>
        <% end %>
      <% end %>

      <p class="mt-3 text-secondary"><%= @art.likes.count %></p>

      <script>
        $(document).ready(function() {
          $('#heart-icon').on('click', function() {
            ($('#like-button')) {
              $('#like-form').submit();
            } ($('#liked-button')) {
              $('#unlike-form').submit();
            }
          });
        });
      </script>
    </div>

    <%# Comments %>
    <div class="d-flex spacing-4 mb-2 align-items-center gap-2">
      <!-- Comment -->
      <%# <i class="fas fa-xl fa-comment" id="comment-icon"></i> %>

      <!-- Number of appreciations -->
      <% appreciate = current_user&.appreciations&.find_by(art: @art) %>
      <% if current_user.nil? || appreciate.nil? %>
        <%= form_with url: appreciate, method: :post, remote: true, id: 'appreciate-form' do |form| %>
          <%= hidden_field_tag 'appreciate[art_id]', @art.id %>
          <button type="submit" class="border-0 bg-transparent" id="comment-icon">
            <i class="fas fa-xl fa-comment"></i>
          </button>
        <% end %>
      <% else %>
        <%= form_with url: art_appreciation_path(appreciate), method: :delete, id: 'unappreciate-form' do |form| %>
          <button type="submit" class="border-0 bg-transparent" id="appreciated-button">
            <i class="fas fa-xl fa-comment" id="comment-icon" style="color: black !important;"></i>
          </button>
        <% end %>
      <% end %>

      <script>
        $(document).ready(function() {
          $('#comment-icon').on('click', function() {
            ($('#appreciate-button')) {
              $('#appreciate-form').submit();
            } ($('#appreciated-button')) {
              $('#unappreciate-form').submit();
            }
          });
        });
      </script>

      <p class="mt-3 text-secondary"><%= @art.appreciations.count %></p>
    </div>
  </div>
</div>
