<%# Landing %>
<div id="landing" class="d-flex align-items-end p-3" style="width: 100vw; height: 100vh; background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%), url('<%= cl_image_path(@art.photo.key) %>'); background-size: cover; background-position: center;">
  <div class='gap-5 m-4'>
    <%# Nombre arte %>
    <h1 class="font-italic mt-auto"><%= link_to @art.title, art_path(@art), class:'text-decoration-none text-white' %></h1>

    <%# Info %>
    <div class="mt-4 artist-info align-items-center">
      <% artista = User.find(@art.user_id) %>
      <div href="#" class="avatar" style="background-image: url(<%= cl_image_path(artista.photo.key)%>); background-size: cover; background-position: center;"></div>
      <div class="artist-description">
        <h5 href="#" class="text-white mt-2">
          <%= artista.email %>
        </h5>
      </div>
    </div>
  </div>
</div>

<%# Recomendacion del dia %>
<div class="container">
  <h2>Recomendación del día</h2>
  <div class="arts-container">
    <div class="art-card-inactive" style="background-image: url(<%= cl_image_path(@art_recomendation.photo.key) %>)">

    </div>
    <div class="art-card-inactive" style="background-image: url(<%= cl_image_path(@art_recomendation.photo.key) %>)">

    </div>
    <div class="art-card" style="background-image: url(<%= cl_image_path(@art_recomendation.photo.key) %>), linear-gradient(rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.75) 100%)">
    <h2> <%= link_to @art_recomendation.title, @art_recomendation %> </h2>

    </div>
    <div class="art-card-inactive" style="background-image: url(<%= cl_image_path(@art_recomendation.photo.key) %>)">

    </div>
    <div class="art-card-inactive" style="background-image: url(<%= cl_image_path(@art_recomendation.photo.key) %>)">

    </div>
  </div>
</div>

<%# Artista destacado %>
<div style="background-color: #E8EAEC;">
  <div class="container">
    <h2>Piérdete en el mundo de <%= artista.email %></h2>
    <%# Left %>
    <div class="horizontal-container">
      <div class="button-container gap-2">
        <div class="text-container">
          <h2><%= artista.email %></h2>
          <h5 class="w-75">
            El artista español que muchos catalogan como el mejor artista del siglo 20.
          <h5>
        </div>
        <div class="button">
      <%= link_to 'Ver su trabajo', @arts_with_least_likes %>
        </div>
      </div>

      <%# Right %>
      <div class="big-avatar" style="background-image: url(<%= cl_image_path(artista.photo.key)%>); background-size: cover; background-position: center;">
      </div>
    </div>
  </div>
</div>


<%# Populares %>
<div class="container">
  <h2>Populares</h2>
  <!-- Gallery -->
  <div class="row">
    <% @arts_with_most_likes.each_slice(2).with_index do |arts_slice, index| %>
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <% arts_slice.each do |art| %>
          <img
            src="<%= cl_image_path(art.photo.key) %>"
            class="w-100 shadow-1-strong rounded mb-4"
          />
        <% end %>
      </div>
    <% end %>
  </div>
  <!-- Gallery -->
</div>


<%# Obra Clasica %>

<div class="container" style="border-radius: 40px; background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%), url('<%= cl_image_path(@arts_with_least_likes.photo.key) %>'); background-size: cover; background-position: center; margin-bottom: 200px;">
  <div class="d-flex flex-column align-items-center button-container">
    <div class="justify-content-center text-container">
      <h2 class="text-white text-center">¿Cómo se conecta '<%= @arts_with_least_likes.title %>' con la cultura pop</h2>
      <h5 class="text-white text-center w-100">Súmate al mundo de De Goya para entender como su obra cruza fronteras</h5>
    </div>
    <div class="border-white text-white button">
      <%= link_to 'Ver su trabajo', @arts_with_least_likes %>
    </div>
  </div>
</div>
