<%= form_with(model: Donation.new, url: user_donations_path(@art.user)) do |form| %>
  <%= form.hidden_field :art_id, value: @art.id %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>

  <%= form.submit 'Donate' %>
<% end %>
