<p style="color: green"><%= notice %></p>

<% @donations_made.each do |donation| %>
  <%= render donation %>


<div>
  <%= link_to "Volver", arts_path(@art) %>
</div>

<p>
  <strong>User:</strong>
  <%= donation.user.username %>
</p>
<p>
  <strong>Amount:</strong>
  <%= donation.amount %>
</p>
<p>
  <strong>Message:</strong>
  <%= donation.message %>
</p>
<% end %>
