<div class="justify-content-center w-100 mt-0">

<div class="mx-auto w-50 artpost-container align-items-center justify-content-center" style="margin-top: 6rem;">
  <h2>Detalles de tu donación</h2>
  <p class="mt-3 card-text">
    <strong>Monto:</strong> <%= @donation.amount %>
  </p>
  <p class="card-text">
    <tr>
      <strong>Donante:</strong>
      <td class="text-end"><%= @donation.user.email %></td>
    </tr>
  </p>
  <p class="card-text">
    <strong>Donante:</strong> <%= @donation.recipient.email %>
  </p>
  <span class="badge rounded-pill bg-danger">PENDIENTE</span>
  <div class="gap-3 w-100 justify-content-center mt-3">
    <div class="w-100 mt-3 justify-content-center">
      <div id="wallet_container">
      <script src="https://sdk.mercadopago.com/js/v2"></script>
      </div>
    </div>
      <%= link_to "Cancelar", root_path, class: "m-auto justify-content-center w-100 btn btn-outline-dark" %>
    </div>
  </div>
</div>
<script>
  const mp = new MercadoPago('TEST-2a56a125-0912-4516-95a3-96947efeb336');
  const bricksBuilder = mp.bricks();
  const preferenceId = "<%= @preference_id %>";
  mp.bricks().create("wallet", "wallet_container", {
    initialization: {
        preferenceId: preferenceId,
        redirectMode: "modal"
    },
  });
</script>
