<div id="<%= dom_id art %>">
  <p>
    <strong>User:</strong>
    <%= art.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= art.title %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= art.year %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= art.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= art.category %>
  </p>

  <% if art && art.image.present? %>
    <div class="w-100 h-20 rounded-2" style='height: 75vh; background-image: url("<%= cl_image_path art.image.key %>"); background-size: cover; background-repeat: no-repeat; background-position: center center;'></div>
  <% else %>
    <!-- puedes poner alguna imagen por defecto en caso de que no haya imagen -->
    <strong>no hay foto</strong>
  <% end %>

<%= pluralize(art.likes.count, 'Like') %>
<% like = current_user&.likes&.find_by(art: art) %>
<% if current_user.nil? || like.nil? %>
  <%= form_with url: likes_path, method: :post, remote: true do %>
    <%= hidden_field_tag 'like[art_id]', art.id %>
    <%= submit_tag 'Like', class: 'btn btn-primary' %>
  <% end %>
<% else %>
  <%= form_with url: like_path(like), method: :delete do %>
    <%= submit_tag 'Unlike', class: 'btn btn-danger' %>
  <% end %>
<% end %>





</div>
