<div class="artpost-container">
  <div class="d-flex gap-5">
    <p><%= link_to 'Volver', arts_path, class: 'text-black text-decoration-none' %></p>
    <p><%= link_to 'Editar', edit_art_path(@art), class: 'text-black text-decoration-none' %></p>
    <p><%= link_to 'Eliminar', art_path(@art), data: { turbo_method: :delete }, confirm: '¿Estás seguro de eliminar este arte?', class: 'text-black text-decoration-none' %></p>
  </div>
  <div class="big-image" style="background-image: url(<%= cl_image_path(@art.photo.key)  %>)"></div>
  <div class="button-container">
    <div class="text-container">
      <h2 class="font-italic mt-auto text-decoration-none text-black"><%= @art.title %></h2>
      <div class="artist-info">
        <% artista = User.find(@art.user_id) %>
        <div href="#" class="avatar" style="background-image: url(<%= cl_image_path(artista.photo.key)%>); background-size: cover; background-position: center;"></div>
        <div class="mt-4 artist-description">
          <h5 href="#" class="text-black" style="line-height: 0;">
            <%= artista.email %>
          </h5>
        </div>
      </div>
      <div class="d-flex gap-5">
        <div class="d-flex gap-2">
          <h5 class="text-decoration-underline">Técnica:</h5>
          <h5>Surrealismo</h5>
        </div>
        <div class="d-flex gap-2">
          <h5 class="text-decoration-underline">Año:</h5>
          <h5><%=@art.year%></h5>
        </div>
      </div>
    </div>
    <div class="d-flex gap-5">
      <div class="w-100">
        <p class="lh-lg"><%=@art.description %></p>
      </div>
    </div>
  </div>
</div>
